.modal {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  background-color: var(--bg-dark);
  color: var(--text);
  z-index: 999;
  transition: right 0.3s ease-in-out;
  padding: 140px 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 155px 85px;
  }
}

.show {
  right: 0;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  background: none;
  border: none;
  color: var(--alt-title);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .close {
    top: 24px;
    right: 32px;
    font-size: 32px;
  }
}
.close:focus {
  color: var(--highlight);
  transition: all 0.3s ease;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.navItem {
  color: var(--alt-title);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.navItem:hover {
  color: var(--highlight);
  transition: all 0.3s ease;
}

.mediaContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .mediaContainer {
    bottom: 24px;
    left: 32px;
  }
}

.socialIcon {
  color: var(--alt-title);
  width: 22px;
  height: 22px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .socialIcon {
    width: 24px;
    height: 24px;
  }
}

.socialIcon:hover {
  color: var(--highlight);
  transition: all 0.3s ease;
}
