.section {
  background-color: var(--bg-light);
  width: 375px;
  padding: 0 20px 72px 20px;
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    padding: 0 32px 50px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding: 0 32px 72px 32px;
  }
}

.heroContainer {
  width: 100%;
  padding: 400px 20px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-dark);
  background-image: image-set(
    url('../../assets/images/hero-bg-mob@1x.png') 1x,
    url('../../assets/images/hero-bg-mob@2x.png') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .heroContainer {
    padding: 670px 40px 40px 40px;
    background-image: image-set(
      url('../../assets/images/hero-bg-tab@1x.png') 1x,
      url('../../assets/images/hero-bg-tab@2x.png') 2x
    );
  }
}
@media screen and (min-width: 1200px) {
  .heroContainer {
    padding: 380px 40px 40px 40px;
    background-image: image-set(
      url('../../assets/images/hero-bg-desk@1x.png') 1x,
      url('../../assets/images/hero-bg-desk@2x.png') 2x
    );
  }
}

.heroText {
  color: var(--alt-title);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .heroText {
    font-size: 28px;
    width: 485px;
  }
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
}

.btn {
  color: var(--alt-title);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 28px;
  background-color: transparent;
  border: 1px solid var(--alt-title);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link {
  color: var(--alt-title);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.scrollText {
  color: var(--alt-title);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .flescrollTextxbox {
    font-size: 14px;
  }
}

.scrollBtn {
  background-color: var(--alt-title);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .scrollBtn {
    width: 38px;
    height: 38px;
  }
}

.scrollIcon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .scrollIcon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
