.modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.6);
  z-index: 999;
}

.show {
  display: flex;
}

.modalContent {
  background-color: var(--bg-light);
  border-radius: 15px;
  overflow: hidden;
  width: 310px;
}
@media screen and (min-width: 768px) {
  .modalContent {
    width: 540px;
  }
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--alt-title);
  cursor: pointer;
}

.imageContainer {
  height: 170px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: image-set(
    url('../../assets/images/pop-up-mob@1x.png') 1x,
    url('../../assets/images/pop-up-mob@2x.png') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .imageContainer {
    background-image: image-set(
      url('../../assets/images/pop-up-tab@1x.png') 1x,
      url('../../assets/images/pop-up-tab@2x.png') 2x
    );
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}
@media screen and (min-width: 768px) {
  .formContainer {
    padding: 40px;
  }
}

.title {
  color: var(--text);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 24px;
}

.highlight {
  color: var(--highlight);
}

.flexbox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .flexbox {
    gap: 8px;
  }
}

.input {
  flex: 1;
  border: 1px solid var(--alt-text);
  border-radius: 35px;
  height: 45px;
  padding: 12px 28px;
}

.submitBtn {
  background-color: var(--highlight);
  border: none;
  border-radius: 35px;
  color: var(--alt-title);
  height: 38px;
  padding: 0 18px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 4px;
}
@media screen and (min-width: 768px) {
  .submitBtn {
    position: static;
    height: 45px;
    padding: 12px 28px;
  }
}
