.section {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  padding: 36px 0;
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding: 64px 0;
  }
}

.title {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;
  max-width: 280px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    width: 400px;
    margin-bottom: 28px;
  }
}

.highlight {
  color: var(--highlight);
}

.text {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  font-style: normal;
  text-align: center;
  width: 290px;
  margin-bottom: 32px;
}
@media screen and (min-width: 375px) {
  .text {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .text {
    width: 490px;
    margin-bottom: 50px;
  }
}

.componentsList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .componentList {
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .componentList {
    gap: 19px;
  }
}

.listItem {
  background-color: transparent;
  width: 335px;
  min-height: 270px;
  height: auto;
  border-radius: 15px;
  border: 1px solid transparent;
  align-items: center;
  overflow: visible;
  perspective: 2000px;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .listItem {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Chocolate */
  .listItem:nth-child(1) {
    order: 0;
  }
  /* Milk */
  .listItem:nth-child(2) {
    order: 1;
  }
  /* Nuts */
  .listItem:nth-child(3) {
    order: 2;
  }
  /* Raisins */
  .listItem:nth-child(4) {
  }
}
@media screen and (min-width: 1200px) {
  .listItem {
    width: 270px;
  }
}

.flipCard {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.listItem:hover .flipCard {
  transform: rotateY(180deg);
}

.frontside,
.backside {
  position: absolute;
  width: 100%;
  min-height: 270px;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frontside {
  background: var(--bg-light);
  border-radius: 15px;
  border: 1px solid var(--highlight);
  color: var(--textr);
  padding: 28px;
}
@media screen and (min-width: 768px) {
  .frontside {
    padding: 28px;
  }
}

.uniqueComponentsLink {
  text-decoration: none;
  list-style: none;
}

.image {
  display: flex;
  justify-self: center;
  width: 224px;
  height: 171px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .image {
    width: 206px;
    height: 160px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .imgDesktop {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .imgMobile {
    display: none;
  }
}

.highlightBorder {
  border-color: var(--text);
}

.componentName,
.backsideName {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.backside {
  background: var(--bg-light);
  color: var(--text);
  transform: rotateY(180deg);
  border-radius: 15px;
  border: 1px solid var(--highlight);
  padding: 28px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .backside {
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .backside {
    min-height: 270px;
    height: auto;
    display: block;
  }
}

.backsideName {
  font-size: 18px;
  margin-bottom: 8px;
}

.tagsList {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 14px;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  border-radius: 35px;
  border: 1px solid var(--highlight);
  background: var(--bg-light);
}

.tag {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.activeTag {
  background: var(--highlight) !important;
  border-color: var(--highlight) !important;
}

.activeTag p {
  color: var(--alt-title) !important;
}

.backsideText {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .backsideText {
    max-width: 240px;
  }
}
