.section {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  padding: 36px 20px 72px 20px;
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
    padding: 50px 32px 100px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding: 64px 32px 128px 32px;
  }
}

.title {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    margin-bottom: 50px;
  }
}

.highlight {
  color: var(--highlight);
}

.commentsList {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.productsList::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 768px) {
  .commentsList {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .commentsList {
    gap: 28px;
  }
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  scroll-snap-align: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .listItem {
    flex: 0 0 calc(50% - 16px);
  }
}
@media screen and (min-width: 1200px) {
  .listItem {
    flex: 0 0 calc(33.333% - 20px);
  }
}

.commentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--alt-title);
  border: 1px solid var(--border);
  border-radius: 15px;
  width: 100%;
  max-width: 335px;
  height: 200px;
  padding: 56px 18px 42px 18px;
  margin-top: 40px;
  text-align: center;
}

.avatar {
  position: absolute;
  top: 0;
  transform: translate(0%, -50%);
  width: 80px;
  height: 80px;
}

.name {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.comment {
  color: var(--alt-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.button {
  background-color: transparent;
  border: 1px solid var(--highlight);
  border-radius: 35px;
  padding: 12px 28px;
  cursor: pointer;
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 14px 40px;
    font-size: 18px;
  }
}

.button:hover {
  background-color: var(--highlight);
  color: var(--alt-title);
}

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
}

.slider {
  background-color: var(--border);
  width: 13px;
  height: 13px;
  border-radius: 13px;
  border: none;
  transition: all 0.3s ease;
}

.slider:hover {
  cursor: pointer;
}

.slider:active,
.slider.active {
  background-color: var(--highlight);
  width: 28px;
}

@media screen and (min-width: 768px) {
  .active {
    color: var(--highlight);
    border: 1px solid var(--highlight);
    transition: border 0.3s ease;
  }
}
