.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 62px 0;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 80px 0;
  }
}
